<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'quotes/style.css' %}">
    <title>Homework</title>
</head>
<body>
    <div class="container">
        <div class="row header-box pt-3 mb-3">
            <div class="col-md-8">
                <h1>
                    <a href="/" style="text-decoration: none"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Цитати для Scrape</font></font></a>
                </h1>
            </div>
            <div class="col-md-4">
                <p>
                    <a href="/login" class="btn btn-primary"><SingUp></a>
                    <a href="/login" class="btn btn-primary"><Login></a>
                    <a href="/login" class="btn btn-primary"><Logout></a>
                </p>
            </div>
        </div>
    

{% block content %} {% endblock %}
    <div class="col-md-8">

    <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
        <span class="text" itemprop="text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">«Світ, яким ми його створили, є процесом нашого мислення. </font><font style="vertical-align: inherit;">Це неможливо змінити без зміни нашого мислення».</font></font></span>
        <span><font style="vertical-align: inherit;"></font><small class="author" itemprop="author"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Альберт Ейнштейн </font></font></small>
        <font style="vertical-align: inherit;"><a href="/author/Albert-Einstein"><font style="vertical-align: inherit;">(приблизно</font></a><font style="vertical-align: inherit;"> )</font></font><a href="/author/Albert-Einstein"><font style="vertical-align: inherit;"></font></a>
        </span>
        <div class="tags"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
            Теги:
             </font><a class="tag" href="/tag/change/page/1/"><font style="vertical-align: inherit;">зміна </font></a><a class="tag" href="/tag/deep-thoughts/page/1/"><font style="vertical-align: inherit;">глибоких думок </font></a><a class="tag" href="/tag/thinking/page/1/"><font style="vertical-align: inherit;">мислення </font></a><a class="tag" href="/tag/world/page/1/"><font style="vertical-align: inherit;">світ</font></a></font><meta class="keywords" itemprop="keywords" content="change,deep-thoughts,thinking,world"> 
            
            <a class="tag" href="/tag/change/page/1/"><font style="vertical-align: inherit;"></font></a>
            
            <a class="tag" href="/tag/deep-thoughts/page/1/"><font style="vertical-align: inherit;"></font></a>
            
            <a class="tag" href="/tag/thinking/page/1/"><font style="vertical-align: inherit;"></font></a>
            
            <a class="tag" href="/tag/world/page/1/"><font style="vertical-align: inherit;"></font></a>
            
        </div>
    </div>

    <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
        <span class="text" itemprop="text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">«Саме наш вибір, Гаррі, показує, ким ми є насправді, набагато більше, ніж наші здібності».</font></font></span>
        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Джоан </font></font><small class="author" itemprop="author"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Роулінг </font></font></small>
        <a href="/author/J-K-Rowling"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">(про)</font></font></a>
        </span>
        <div class="tags"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
            Теги:
             </font><a class="tag" href="/tag/abilities/page/1/"><font style="vertical-align: inherit;">здібності </font></a><a class="tag" href="/tag/choices/page/1/"><font style="vertical-align: inherit;">вибір</font></a></font><meta class="keywords" itemprop="keywords" content="abilities,choices"> 
            
            <a class="tag" href="/tag/abilities/page/1/"><font style="vertical-align: inherit;"></font></a>
            
            <a class="tag" href="/tag/choices/page/1/"><font style="vertical-align: inherit;"></font></a>
            
        </div>
    </div>

    <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
        <span class="text" itemprop="text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">«Є лише два способи прожити своє життя. </font><font style="vertical-align: inherit;">По-перше, ніби ніщо не є дивом. </font><font style="vertical-align: inherit;">Інше — ніби все диво».</font></font></span>
        <span><font style="vertical-align: inherit;"></font><small class="author" itemprop="author"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Альберт Ейнштейн </font></font></small>
        <font style="vertical-align: inherit;"><a href="/author/Albert-Einstein"><font style="vertical-align: inherit;">(приблизно</font></a><font style="vertical-align: inherit;"> )</font></font><a href="/author/Albert-Einstein"><font style="vertical-align: inherit;"></font></a>
        </span>
        <div class="tags"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
            Теги:
             </font><a class="tag" href="/tag/inspirational/page/1/"><font style="vertical-align: inherit;">надихаюче </font></a><a class="tag" href="/tag/life/page/1/"><font style="vertical-align: inherit;">життя </font></a><a class="tag" href="/tag/live/page/1/"><font style="vertical-align: inherit;">жити </font></a><a class="tag" href="/tag/miracle/page/1/"><font style="vertical-align: inherit;">диво </font></a><a class="tag" href="/tag/miracles/page/1/"><font style="vertical-align: inherit;">чудеса</font></a></font><meta class="keywords" itemprop="keywords" content="inspirational,life,live,miracle,miracles"> 
            
            <a class="tag" href="/tag/inspirational/page/1/"><font style="vertical-align: inherit;"></font></a>
            
            <a class="tag" href="/tag/life/page/1/"><font style="vertical-align: inherit;"></font></a>
            
            <a class="tag" href="/tag/live/page/1/"><font style="vertical-align: inherit;"></font></a>
            
            <a class="tag" href="/tag/miracle/page/1/"><font style="vertical-align: inherit;"></font></a>
            
            <a class="tag" href="/tag/miracles/page/1/"><font style="vertical-align: inherit;"></font></a>
            
        </div>
    </div>

    <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
        <span class="text" itemprop="text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">«Людина, будь то джентльмен чи леді, яка не отримує задоволення від хорошого роману, має бути нестерпно дурною».</font></font></span>
        <span><font style="vertical-align: inherit;"></font><small class="author" itemprop="author"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Джейн Остін</font></font></small>
        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> ( про </font></font><a href="/author/Jane-Austen"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">)</font></font></a>
        </span>
        <div class="tags"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
            Теги:
             </font><a class="tag" href="/tag/aliteracy/page/1/"><font style="vertical-align: inherit;">алфавіт </font></a><a class="tag" href="/tag/books/page/1/"><font style="vertical-align: inherit;">книги </font></a><a class="tag" href="/tag/classic/page/1/"><font style="vertical-align: inherit;">класика </font></a><a class="tag" href="/tag/humor/page/1/"><font style="vertical-align: inherit;">гумор</font></a></font><meta class="keywords" itemprop="keywords" content="aliteracy,books,classic,humor"> 
            
            <a class="tag" href="/tag/aliteracy/page/1/"><font style="vertical-align: inherit;"></font></a>
            
            <a class="tag" href="/tag/books/page/1/"><font style="vertical-align: inherit;"></font></a>
            
            <a class="tag" href="/tag/classic/page/1/"><font style="vertical-align: inherit;"></font></a>
            
            <a class="tag" href="/tag/humor/page/1/"><font style="vertical-align: inherit;"></font></a>
            
        </div>
    </div>

    <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
        <span class="text" itemprop="text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">«Недосконалість — це краса, божевілля — це геніальність, і краще бути абсолютно смішним, ніж абсолютно нудним».</font></font></span>
        <span><font style="vertical-align: inherit;"></font><small class="author" itemprop="author"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Мерилін Монро </font></font></small>
        <font style="vertical-align: inherit;"><a href="/author/Marilyn-Monroe"><font style="vertical-align: inherit;">(приблизно</font></a><font style="vertical-align: inherit;"> )</font></font><a href="/author/Marilyn-Monroe"><font style="vertical-align: inherit;"></font></a>
        </span>
        <div class="tags"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
            Теги:
             </font><a class="tag" href="/tag/be-yourself/page/1/"><font style="vertical-align: inherit;">будь собою </font></a><a class="tag" href="/tag/inspirational/page/1/"><font style="vertical-align: inherit;">надихає</font></a></font><meta class="keywords" itemprop="keywords" content="be-yourself,inspirational"> 
            
            <a class="tag" href="/tag/be-yourself/page/1/"><font style="vertical-align: inherit;"></font></a>
            
            <a class="tag" href="/tag/inspirational/page/1/"><font style="vertical-align: inherit;"></font></a>
            
        </div>
    </div>

    <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
        <span class="text" itemprop="text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">«Намагайтеся не стати людиною успіху. </font><font style="vertical-align: inherit;">Краще стань людиною, яка має цінність».</font></font></span>
        <span><font style="vertical-align: inherit;"></font><small class="author" itemprop="author"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Альберт Ейнштейн </font></font></small>
        <font style="vertical-align: inherit;"><a href="/author/Albert-Einstein"><font style="vertical-align: inherit;">(приблизно</font></a><font style="vertical-align: inherit;"> )</font></font><a href="/author/Albert-Einstein"><font style="vertical-align: inherit;"></font></a>
        </span>
        <div class="tags"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
            Теги:
             </font><a class="tag" href="/tag/value/page/1/"><font style="vertical-align: inherit;">цінність </font></a><a class="tag" href="/tag/success/page/1/"><font style="vertical-align: inherit;">успіху </font></a><a class="tag" href="/tag/adulthood/page/1/"><font style="vertical-align: inherit;">в дорослому житті</font></a></font><meta class="keywords" itemprop="keywords" content="adulthood,success,value"> 
            
            <a class="tag" href="/tag/adulthood/page/1/"><font style="vertical-align: inherit;"></font></a>
            
            <a class="tag" href="/tag/success/page/1/"><font style="vertical-align: inherit;"></font></a>
            
            <a class="tag" href="/tag/value/page/1/"><font style="vertical-align: inherit;"></font></a>
            
        </div>
    </div>

    <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
        <span class="text" itemprop="text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">«Краще бути ненавиденим за те, ким ти є, ніж любити за те, ким ти не є».</font></font></span>
        <span><font style="vertical-align: inherit;"></font><small class="author" itemprop="author"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Андре Жид</font></font></small>
        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> ( про </font></font><a href="/author/Andre-Gide"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">)</font></font></a>
        </span>
        <div class="tags"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
            Теги:
             </font><a class="tag" href="/tag/life/page/1/"><font style="vertical-align: inherit;">життя </font></a><a class="tag" href="/tag/love/page/1/"><font style="vertical-align: inherit;">любов</font></a></font><meta class="keywords" itemprop="keywords" content="life,love"> 
            
            <a class="tag" href="/tag/life/page/1/"><font style="vertical-align: inherit;"></font></a>
            
            <a class="tag" href="/tag/love/page/1/"><font style="vertical-align: inherit;"></font></a>
            
        </div>
    </div>

    <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
        <span class="text" itemprop="text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">«Я не зазнав невдачі. </font><font style="vertical-align: inherit;">Я щойно знайшов 10 000 способів, які не працюють».</font></font></span>
        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Томас </font></font><small class="author" itemprop="author"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">А. Едісон </font></font></small>
        <a href="/author/Thomas-A-Edison"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">(приблизно)</font></font></a>
        </span>
        <div class="tags"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
            Теги:
             </font><a class="tag" href="/tag/failure/page/1/"><font style="vertical-align: inherit;">провал </font></a><a class="tag" href="/tag/edison/page/1/"><font style="vertical-align: inherit;">Едісона </font></a><a class="tag" href="/tag/inspirational/page/1/"><font style="vertical-align: inherit;">надихаючий </font></a><a class="tag" href="/tag/paraphrased/page/1/"><font style="vertical-align: inherit;">перефраз</font></a></font><meta class="keywords" itemprop="keywords" content="edison,failure,inspirational,paraphrased"> 
            
            <a class="tag" href="/tag/edison/page/1/"><font style="vertical-align: inherit;"></font></a>
            
            <a class="tag" href="/tag/failure/page/1/"><font style="vertical-align: inherit;"></font></a>
            
            <a class="tag" href="/tag/inspirational/page/1/"><font style="vertical-align: inherit;"></font></a>
            
            <a class="tag" href="/tag/paraphrased/page/1/"><font style="vertical-align: inherit;"></font></a>
            
        </div>
    </div>

    <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
        <span class="text" itemprop="text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">«Жінка схожа на пакетик чаю; </font><font style="vertical-align: inherit;">ти ніколи не знаєш, наскільки він сильний, поки не потрапиш у гарячу воду».</font></font></span>
        <span><font style="vertical-align: inherit;"></font><small class="author" itemprop="author"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Елеонора Рузвельт </font></font></small>
        <font style="vertical-align: inherit;"><a href="/author/Eleanor-Roosevelt"><font style="vertical-align: inherit;">(приблизно</font></a><font style="vertical-align: inherit;"> )</font></font><a href="/author/Eleanor-Roosevelt"><font style="vertical-align: inherit;"></font></a>
        </span>
        <div class="tags"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
            Теги:
             </font><a class="tag" href="/tag/misattributed-eleanor-roosevelt/page/1/"><font style="vertical-align: inherit;">неправильне приписування-елеонора-рузвельт</font></a></font><meta class="keywords" itemprop="keywords" content="misattributed-eleanor-roosevelt"> 
            
            <a class="tag" href="/tag/misattributed-eleanor-roosevelt/page/1/"><font style="vertical-align: inherit;"></font></a>
            
        </div>
    </div>

    <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
        <span class="text" itemprop="text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">«День без сонця схожий на ніч».</font></font></span>
        <span><font style="vertical-align: inherit;"></font><small class="author" itemprop="author"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Стів Мартін</font></font></small>
        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> ( про </font></font><a href="/author/Steve-Martin"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">)</font></font></a>
        </span>
        <div class="tags"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
            Теги:
             </font><a class="tag" href="/tag/humor/page/1/"><font style="vertical-align: inherit;">гумор </font></a><a class="tag" href="/tag/obvious/page/1/"><font style="vertical-align: inherit;">очевидне </font></a><a class="tag" href="/tag/simile/page/1/"><font style="vertical-align: inherit;">порівняння</font></a></font><meta class="keywords" itemprop="keywords" content="humor,obvious,simile"> 
            
            <a class="tag" href="/tag/humor/page/1/"><font style="vertical-align: inherit;"></font></a>
            
            <a class="tag" href="/tag/obvious/page/1/"><font style="vertical-align: inherit;"></font></a>
            
            <a class="tag" href="/tag/simile/page/1/"><font style="vertical-align: inherit;"></font></a>
            
        </div>
    </div>

    <nav>
        <ul class="pager">
            
            
            <li class="next">
                <a href="/page/2/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Далі </font></font><span aria-hidden="true"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">→</font></font></span></a>
            </li>
            
        </ul>
    </nav>
    </div>
    <div class="col-md-4 tags-box">
        
            <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Десятка тегів</font></font></h2>
            
            <span class="tag-item">
            <a class="tag" style="font-size: 28px" href="/tag/love/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">любов</font></font></a>
            </span>
            
            <span class="tag-item">
            <a class="tag" style="font-size: 26px" href="/tag/inspirational/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">натхненний</font></font></a>
            </span>
            
            <span class="tag-item">
            <a class="tag" style="font-size: 26px" href="/tag/life/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">життя</font></font></a>
            </span>
            
            <span class="tag-item">
            <a class="tag" style="font-size: 24px" href="/tag/humor/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">гумор</font></font></a>
            </span>
            
            <span class="tag-item">
            <a class="tag" style="font-size: 22px" href="/tag/books/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">книги</font></font></a>
            </span>
            
            <span class="tag-item">
            <a class="tag" style="font-size: 14px" href="/tag/reading/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">читання</font></font></a>
            </span>
            
            <span class="tag-item">
            <a class="tag" style="font-size: 10px" href="/tag/friendship/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">дружба</font></font></a>
            </span>
            
            <span class="tag-item">
            <a class="tag" style="font-size: 8px" href="/tag/friends/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">друзі</font></font></a>
            </span>
            
            <span class="tag-item">
            <a class="tag" style="font-size: 8px" href="/tag/truth/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">правда</font></font></a>
            </span>
            
            <span class="tag-item">
            <a class="tag" style="font-size: 6px" href="/tag/simile/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">порівняння</font></font></a>
            </span>
            
        
    </div>
</div>

    </div>    
</body>
</html>